<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    <form method="POST">
        Username: <input type="text" name="username">
        <br>
        Password: <input type="password" name="password">
        <br>
        <button type="submin">Login</button>
    </form>

    <p>You don't have an account?<a href="/register">Create a new account</a></p>
</body>
</html>